  <div ng-controller="GameListCtrl" ng-show="loggedIn && !hasGame">

    <button ng-click="createGame()" class="btn-primary btn" >Create Game</button>

    <div ng-if="shownGames.length > 0" >
        <h4>Play an existing game</h4>
        <table class="table .table-striped">
            <tr>
                <th>Creator</th>
                <th>Type</th>
                <th>Play</th>
            </tr>
            <tr ng-repeat="game in shownGames | limitTo: totalGames ">
                <td>{{game.creator.username}}</td>
                <td>{{game.type}}</td>
                <td><button type="button" class="btn btn-primary" ng-click="$parent.playGame(game._id)">PLAY</button></td>
            </tr>
        </table>
    </div>

    <div ng-if="shownGames.length == 0">
        No Current Games
    </div>

