<!-- Shown if not logged in -->
<div ng-if="!loggedIn" class="jumbotron">
    <h1>Welcome to Play-Stratego</h1>
    <p class="lead">Welcome! This is a web application written in Scala on the backend and Coffescript on the frontend to allow you to play the game Stratego. Please sign up to play!</p>
    <p>
        <a class="btn btn-lg btn-success" href="/app/signup" role="button">Sign up today</a>

        <div style="clear:both" />
        <a class="" href="/app/login">Already have an account? Login in!</a>
    </p>
</div>

 <div ng-if="loggedIn && currentGameId">
    <ng-include src="templateUrls.currentGame">
    </ng-include>
</div>

 <div ng-if="loggedIn && null == currentGameId">
    <ng-include src="templateUrls.gamesList">
    </ng-include>
</div>
