@(userJson: String)

<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Play-Stratego</title>

    <!-- Bootstrap -->
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("css/jumbotron.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/app.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body 
    ng-controller="MainCtrl" 
    data-user="@userJson"
    data-assets-path="@routes.Assets.at("")">
    
    <div class="container">
        <ng-include src="templateUrls.navbar"></ng-include>
        <ng-view></ng-view>

    <div style="clear:both"/>
    <br>
    <pre>$location.path() = {{$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{$route.current.params}}</pre>
    <pre>$route.current.scope.ctrl = {{$route.current.scope.ctrl}}</pre>
    <pre>$routeParams = {{$routeParams}}</pre>
    </div>
    <pre>user = {{user.username}}</pre>
    <div class="footer">
        <p>© Chris Brahms 2014</p>
    </div>
    </div>
    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/angular/angular.js")"></script>
    <script src="@routes.Assets.at("js/lib/angular/angular-route.js")"></script>
    <script src="@routes.Assets.at("js/lib/angular/ui-bootstrap-tpls-0.10.0.js")"></script>
    <script src="@routes.Assets.at("js/lib/angular/ui-utils.js")"></script>
    <script src="@routes.Assets.at("js/lib/EventEmitter.min.js")"></script>
    <script src="@routes.Assets.at("js/lib/kinetic-v5.1.0.min.js")"></script>

    <script src="@routes.Assets.at("js/app.js")"></script>
    <script src="@routes.Assets.at("js/services.js")"></script>
    <script src="@routes.Assets.at("js/controllers.js")"></script>
    <script src="@routes.Assets.at("js/filters.js")"></script>
    <script src="@routes.Assets.at("js/directives.js")"></script>
    <script src="@routes.Assets.at("js/stratego.js")"></script>
    <script src="@routes.Assets.at("js/stratego/board.js")"></script>
    <script src="@routes.Assets.at("js/stratego/pieces.js")"></script>
    <script src="@routes.Assets.at("js/stratego/square.js")"></script>
    <script src="@routes.Assets.at("js/stratego/functions.js")"></script>
    <script src="@routes.Assets.at("js/stratego/actions.js")"></script>
    <script src="@routes.Assets.at("js/stratego/controller.js")"></script>

</body>


</html>
